<div>
	<div *ngIf="isLoading">
		<mat-spinner></mat-spinner>
	</div>
	<div [hidden]="isLoading">
		<mat-card>
			<mat-card-title>Vehicle Summary</mat-card-title>
			<mat-card-subtitle>
				Total Number of Vehicles with Known Cost: {{vehicleSummaryViewModel?.VehicleCount}}
				<br>
				Total Number of Manufacturers: {{vehicleSummaryViewModel?.ManufacturerCount}}
			</mat-card-subtitle>
			<mat-card-content>
				<table mat-table [dataSource]="vehicles">
					<ng-container matColumnDef="manufacturerName">
						<th mat-header-cell *matHeaderCellDef> Manufacturer Name </th>
						<td mat-cell *matCellDef="let vehicle"> {{vehicle.ManufacturerName}} </td>
					</ng-container>
					<ng-container matColumnDef="vehicleCount">
						<th mat-header-cell *matHeaderCellDef> Vehicle Count </th>
						<td mat-cell *matCellDef="let vehicle"> {{vehicle.VehicleCount}} </td>
					</ng-container>
					<ng-container matColumnDef="averageCost">
						<th mat-header-cell *matHeaderCellDef> Average Cost </th>
						<td mat-cell *matCellDef="let vehicle"> {{vehicle.AverageCost}} </td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</mat-card-content>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</mat-card>
	</div>
</div>
